<html>
	<head>
		<title>Sinatra Framework</title>
		<link rel="stylesheet" href="/css/application.css">
		        <!-- jQuery here:  -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		        <!-- Latest compiled and minified JavaScript -->
		<!-- <link rel="stylesheet" href="/css/application.css"/> -->
		<!-- <script src=“https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js“>
	 </script> -->
		<script src="/js/test.js"></script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
